.article-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.article-card {
  display: block;
  border: 3px solid black;
  width: 15rem;
  list-style-type: none;
  margin-bottom: 20px;
}

.card-image {
  width: 90%;
  flex: 1;
}

.article-image {
  width: 80%;
}

.header,
.nav-bar {
  text-align: center;
}
